.App{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.Title{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient( rgb(84 136 153), rgb(53 160 195), rgb(43 151 187) );
  color: aliceblue;
  width: 100%;
  height: 15rem;
}

.Title input{
  width: 230px;
  height: 40px;
  border-radius: 12px;
  border: 2px solid rgb(31, 174, 221);
  font-size: 18px;
  padding-left: 12px;

}

.Title button{
  width: 190px;
  height: 50px;
  margin: 20px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  background-color: rgb(8, 35, 110);
 
  color: aliceblue;
}

.Title button:hover{
  background-color: rgb(16 49 141);
  cursor: pointer;
}

.Displaypokemon{
    display: flex;
    justify-content: center;
}
.pokemoncard{
  text-align: center;
  background-color: #b5b020;
  height: 25rem;
  width: 25rem;
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  
}
.pokemoncard .img{
  width: 100px;
}

